.servicesTitle{
  text-align: center;
  margin: 20px;
  padding: 21px;

}
h2 span {
  border-bottom: 1px solid #ea7021;
  padding-bottom: 13px;
  color: #4e504c;

}
h2 span:hover {
  border: 1px solid #078ad9;
  padding: 7px;
  cursor: pointer;
  border-radius: 15px;
  /* transition: border 2s; */
}
.card{
  margin: 3px;
    padding: 9px;
}


.imageReview{
  border-radius: 50% !important;
  width:35% !important
}
.reviews{
  display: flex;
      justify-content: space-between;

}
.servicesImg{
  min-height: 228px;
}