.contact{
  margin-top: 45px;
  text-align: center;
  color: #fff;
  background: #212529;
  padding-top: 20px;
}

.contact span{
  display: inline-block;
  margin: 10px;
}
.contact h1{
  color: #0887d5;
}
.contact h1:hover{
  color: #eb7022;
  cursor: pointer;
}

.iconStyle{
  font-size: 32px;
  margin: 10px;
}